.coupon-wrapper{
border: 3px dashed #00a5e5;
margin: 20px 0;
padding: 10px;
}
.coupon-wrapper .member-logo{
/*float: left;
margin-right: 20px;
height:;
width: 140px;
padding: 100px 0;*/
}

.coupon-wrapper .coupon-offer{
/*font-family: Helvetica, Arial, sans-serif;
font-size: 56px;
font-weight: bold;
line-height: 1em;
margin: 10px 0 0;*/
}

.coupon-wrapper .coupon-subhead{
/*color: #b1d83d;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: normal;
line-height: 1em;
margin: 0px 0;	
text-transform: uppercase;*/
}

.coupon-wrapper .coupon-offer,
.coupon-wrapper .coupon-subhead,
.coupon-wrapper .coupon-offer-details,
.coupon-wrapper .coupon-offer-terms,
.coupon-wrapper .coupon-offer-legal,
.coupon-wrapper .coupon-dates,
.coupon-wrapper .coupon-address{
/*float: left;
width: 740px;	*/
}

.coupon-wrapper .coupon-offer-details,
.coupon-wrapper .coupon-offer-terms,
.coupon-wrapper .coupon-offer-legal,
.coupon-wrapper .coupon-dates,
.coupon-wrapper .coupon-address{
/*color: #000;
font-size: 10px;
margin: 5px 0;*/
}

.coupon-wrapper .coupon-print.btn{
/*background: #b1d83d;
color: #fff;
float: right;
font-size: 16px;
padding: 8px 12px 8px 14px;*/
}

div#block-views-coupons-block_1{
display: none;
}