body.node-type-coupon h1.title{
display: none;
}

div.coupon-preview-offer{
height:28px;
margin:0;
overflow:hidden;
padding:1px;
}

div.coupon-preview-subhead{
height:42px;
margin:0;
overflow:hidden;
padding:1px;
}

div.coupon-preview-details{
height:104px;
margin:0;
overflow:hidden;
padding:1px;
}

div.coupon-preview-partner-logo,
div.coupon-preview-more-info{
height:70px;
margin:0;
float:left;
}

.view-coupons h3.title{
width:940px;
clear:both;
  background: #00a4e4;
  color: #fff;
  padding: 8px;
  margin: 10px 0;
}

.view-coupons div.coupon-preview-wrapper h3.coupon-preview-partner-title a{
color:#ffffff;
font-size:14px;
}

.view-coupons.view-display-id-block_2 div.view-content div.views-row,
.view-coupons.view-display-id-block_5 div.view-content div.views-row{
width:290px;
padding:10px;
float:left;
}

.view-coupons.view-display-id-block_3 .view-content .views-row{
margin: 10px 0;
}

.view-coupons div.coupon-preview-wrapper{

}

.view-coupons div.coupon-preview-wrapper div.coupon-preview-inner{
border-left:10px solid #00a4e4;
border-right:10px solid #00a4e4;
border-bottom:10px solid #00a4e4;
background-color:#ffffff;
padding:10px;
height:260px
}

.view-coupons div.coupon-preview-wrapper div.coupon-preview-inner div.coupon-preview-offer h4{
color:#00a4e4;
text-transform:uppercase;
font-family: Helvetica, Arial, sans-serif;
margin:0;
font-size:28px;
font-weight:bold;
}

.view-coupons div.coupon-preview-wrapper div.coupon-preview-inner div.coupon-preview-subhead h5{
font-size:14px;
line-height:14px;
color:#8CC63F;
text-transform:uppercase;
font-family: Helvetica, Arial, sans-serif;
margin:0;
}

.view-coupons div.coupon-wrapper{
width:600px;
border: 5px dashed #00a5e5;
padding:5px;
}

.view-coupons div.coupon-preview-partner-logo{
width:136px;
height:70px;
float:left;
overflow:hidden;
}

.view-coupons div.coupon-preview-more-info{
float:left;
padding-left:10px;
display:block;
height:70px;
vertical-align:middle;
}
.view-coupons div.coupon-preview-more-info a{
float:left;
display:block;
padding:10px;
margin-top:18px;
text-align:center;
vertical-align:middle;
color:#ffffff;
background-color:#8CC63F;
font-weight:bold;
font-size:18px;
line-height:18px;
text-decoration:none;
}

.view-coupons div.coupon-preview-more-info a:hover{
background-color:#BCD85F;
}

div.coupon-preview-wrapper h3.coupon-preview-partner-title,
div.coupon-wrapper h3.coupon-partner-title{
color:#ffffff;
background-color:#00a4e4;
padding:8px;
margin:0;
height:40px;
}

div.coupon-preview-wrapper div.coupon-preview-left,
div.coupon-wrapper div.coupon-section-left{
width:140px;
float:left;
display:block;
padding:10px 10px 0 0;
position: relative;
}

div.node-bottom.row.nested div.node-bottom-inner.inner{
width:620px;
}

div.coupon-preview-wrapper div.coupon-preview-left .coupon-preview-more-info a,
div.coupon-wrapper div.coupon-section-left .coupon-print a,
div.node-bottom.row.nested div.node-bottom-inner.inner div.coupon-print a{
width:120px;
float:left;
display:block;
padding:10px;
text-align:center;
color:#ffffff;
background-color:#8CC63F;
font-weight:bold;
font-size:18px;
text-decoration:none;
}

div.coupon-preview-wrapper div.coupon-preview-left .coupon-preview-more-info a:hover,
div.coupon-wrapper div.coupon-section-left .coupon-print a:hover,
div.node-bottom.row.nested div.node-bottom-inner.inner div.coupon-print a:hover{
background-color:#BCD85F;
}

div.node-bottom-inner.inner h4{
float:left;
padding: 0 12px;
position: relative;
left: 228px;
}

div.node-bottom-inner.inner div.social-share-buttons ul.links{
float:right;
display: inline-block;
}

div.coupon-preview-wrapper div.coupon-preview-right,
div.coupon-wrapper div.coupon-section-right{
width:440px;
float:left;
display:block;
padding:10px 10px 0 0;
}

div.coupon-preview-wrapper div.coupon-preview-right .coupon-preview-offer h4,
div.coupon-wrapper div.coupon-section-right .coupon-offer h4{
font-size:60px;
line-height:60px;
color:#00a4e4;
text-transform:uppercase;
font-family: Helvetica, Arial, sans-serif;
margin:0;
}

div.coupon-preview-wrapper div.coupon-preview-right .coupon-preview-subhead h5,
div.coupon-wrapper div.coupon-section-right .coupon-subhead h5{
font-size:14px;
line-height:14px;
color:#8CC63F;
text-transform:uppercase;
font-family: Helvetica, Arial, sans-serif;
margin:0;
}

div.coupon-preview-wrapper div.coupon-preview-right .coupon-preview-details p,
div.coupon-wrapper div.coupon-section-right .coupon-details p{
font-size:12px;
line-height:14px;
color:#333333;
}

div.coupon-wrapper div.coupon-section-right .coupon-terms p,
div.coupon-wrapper div.coupon-section-right .coupon-legal p,
div.coupon-wrapper div.coupon-section-right .coupon-offer-code p,
div.coupon-wrapper div.coupon-section-right .coupon-address address{
font-size:10px;
line-height:12px;
color:#333333;
}

div.coupon-wrapper div.coupon-section-right div.coupon-offer-code p:before{
content: 'Offer Code: ';
font-size:10px;
line-height:12px;
color:#333333;
}

div.coupon-section-bottom,
div.coupon-footer-text{
width:600px;
display:block;
clear:both;
}

div.coupon-section-bottom .coupon-bureau-logo img{
float:left;
display:block;
width:140px;
height:71px;
overflow:hidden;
padding:0 10px 10px 0;
}

div.coupon-footer-text p{
margin:0;
font-size:13px;
padding:10px;
background-color:#00a4e4;
color:#ffffff;
}

/*

.coupon-wrapper{
border: 8px dashed #00a5e5;
margin: 20px 10px;
padding: 10px;
width:580px;
float:left;
}

.coupon-wrapper .aocvcb-logo{
float:left;
display:block;
clear:both;
}

.coupon-wrapper .member-logo{
margin-right: 20px;
height:;
width: 140px;
padding: 0;
}

.coupon-wrapper .coupon-offer{
font-family: Helvetica, Arial, sans-serif;
font-size: 56px;
font-weight: bold;
line-height: 1em;
margin: 10px 0 0;
}

.coupon-wrapper .coupon-subhead{
color: #b1d83d;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
font-weight: normal;
line-height: 1em;
margin: 0px 0;	
text-transform: uppercase;
}

.coupon-wrapper .coupon-offer,
.coupon-wrapper .coupon-subhead,
.coupon-wrapper .coupon-offer-details,
.coupon-wrapper .coupon-offer-terms,
.coupon-wrapper .coupon-offer-legal,
.coupon-wrapper .coupon-dates,
.coupon-wrapper .coupon-address{
float: left;
}

.coupon-wrapper .coupon-offer-details,
.coupon-wrapper .coupon-offer-terms,
.coupon-wrapper .coupon-offer-legal,
.coupon-wrapper .coupon-dates,
.coupon-wrapper .coupon-address{
color: #000;
font-size: 10px;
margin: 5px 0;
}

.coupon-wrapper .coupon-print.btn{
background: #b1d83d;
color: #fff;
float: right;
font-size: 16px;
padding: 8px 12px 8px 14px;
}

div#block-views-coupons-block_1{
display: none;
}
*/

.view.view-coupons.view-id-coupons.view-display-id-block_1.view-dom-id-3{
display: none;
}
