/* TEST LESS CSS FILE */
/* USING FOR MINOR ADJUSTMENTS TO BE COMMITTED TO LOCAL.CSS AT A LATER DATE - BOBBY */

/* CALENDAR OF EVENTS (LEISURE EVENTS) CSS
********************************************** */
table.views-view-grid{
table-layout: fixed;

  td{
  padding: 0;
  }
}


body.node-type-event-leisure{

  .view-id-event_leisure.view-display-id-block_7{

	  table.views-view-grid.col-2{
	  table-layout: fixed;
	
	  	td{
	  	padding: 0;
	  	}	  	
	  }
	}  
}


/* PRESS RELEASE CSS
***************************************** */
.node-type-press-release{
	
	.field-field-pr-pull-quote{
	background: #8cc63f;
	color: #fff;
	font-family: Georgia;
	font-size: 18px;
	float: right;
	line-height: 1em;
	margin: 10px 0 10px 10px;
	padding: 10px;
	width: 40%;
	}
	.field-field-pr-pull-quote:before{

	}
}
 