/* TEST LESS CSS FILE */
/* USING FOR MINOR ADJUSTMENTS TO BE COMMITTED TO LOCAL.CSS AT A LATER DATE - BOBBY */

/* GENERAL NODE CSS
********************************************** */
.page-node div.field-field-article-image img{
border: 2px solid #eee;
}

/* PAGE ATTACHMENT CSS
********************************************** */
.view-anaheimoc-page.view-display-id-node_content_1{
  .views-row{
  background: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  
    .views-field-field-article-image-fid{
		float: left;
		height: 140px; width: 140px;
		margin: 8px 10px 20px 0;
    }
  
	  .views-field-edit-node,
	  .views-field-edit-node a:link,
	  .views-field-edit-node a:visited,
	  .views-field-delete-node,
	  .views-field-delete-node a:link,
	  .views-field-delete-node a:visited,
	  .views-field-field-anaheimoc-page-weight-value{
	  font-size: 10px;
	  color: #aaa;
	  }
	  
	  .views-field-edit-node a:hover,
	  .views-field-delete-node a:hover{
	  color: #000;
	  }
  }
}


/* HOMEPAGE SLIDESHOW CSS
********************************************** */
div.view.hero-slideshow{
position: relative;

	.views-field-view-node{
	color: #fff;
	display: none;
	position: absolute;
	top: 20px;
	right: 80px;
	width: 460px;
	
		h2{color: #fff; }
	
		a{
		color: #fff;
		&:visited {color:#fff;}
		&:hover{text-decoration: none; }
		}
	}
}

/* HOMEPAGE FEATURED AND POPULAR CONTENT CSS
********************************************** */

.view.view-anaheimoc-page.featured-content,
.view.view-anaheimoc-page.popular-content{

	table.views-view-grid.col-3{
	table-layout: fixed;
	
		td{
		vertical-align: bottom;
		padding:0;
		width: 160px;
		
			div, span{
			width: 140px;
			}
			
		.views-field-teaser{
		height: 60px;
		}
		}
		
		td.col-3{
		width: 140px;
		}
	}

}



/* CALENDAR OF EVENTS (LEISURE EVENTS) CSS
********************************************** */
table.views-view-grid{
table-layout: fixed;

  td{
  padding: 0;
  }
}


body.node-type-event-leisure{

  .view-id-event_leisure.view-display-id-block_7{

	  table.views-view-grid.col-2{
	  table-layout: fixed;
	
	  	td{
	  	padding: 0;
	  	}	  	
	  }
	}  
}


/* PRESS RELEASE CSS
***************************************** */
.view-id-press_releases.view-display-id-page_1{
	h3.title{
	background: #00a4e4;
	color: #fff;
	padding: 8px;
	margin: 10px 0;
	}
}

.node-type-press-release{
	
	.field-field-pr-pull-quote{
	background: #8cc63f;
	color: #fff;
	font-family: Georgia;
	font-size: 18px;
	float: right;
	line-height: 1em;
	margin: 10px 0 10px 10px;
	padding: 10px;
	width: 40%;
	}
	.field-field-pr-pull-quote:before{

	}
}

/* LITECAL
***************************************** */
.view-id-partner_events h3.litecal-title{
display:none;
}

/* WHAT'S NEW MISC CSS
***************************************** */
.view-id-whats_new.view-display-id-page_1{
	h3.title{
	background: #00a4e4;
	color: #fff;
	padding: 8px;
	margin: 10px 0;
	}
}

/* WHAT'S NEW, PARTNER EVENT VIEWS LISTINGS
***************************************** */
.view-id-whats_new.view-display-id-page_1,
.view-partner-events.view-id-partner_events{

	.views-row{
	background: #eee;
	margin-bottom: 10px;
	padding: 10px;
	}
	
	.views-field-field-article-image-fid{
	float: left;
	margin-right: 10px;
	width: 140px;
	
		img{
		border: 2px solid #eee	;
		}
	}
	
	
}

/* STAFF PROFILE VIEWS
***************************************** */
.staff-profile-view{
	.views-view-grid.col-3, .views-view-grid.col-4{
		td{
		color: #333;
		display: inline-block;		
		padding: 0 0 30px;
		padding-right: 20px;
		vertical-align: top;
		width: 140px;
		
			div{
			width: 140px;
			font-size: 11px;
			}

		  .views-field-field-staff-sales-market-value{
		  font-style: italic;
		  }		
		}
		
		td.col-last{
		padding-right: 0;
		}
	}
}


