/* TEST LESS CSS FILE */
/* USING FOR MINOR ADJUSTMENTS TO BE COMMITTED TO LOCAL.CSS AT A LATER DATE - BOBBY */
/* CALENDAR OF EVENTS (LEISURE EVENTS) CSS
********************************************** */
table.views-view-grid {
  table-layout: fixed;
}
table.views-view-grid td {
  padding: 0;
}
body.node-type-event-leisure .view-id-event_leisure.view-display-id-block_7 table.views-view-grid.col-2 {
  table-layout: fixed;
}
body.node-type-event-leisure .view-id-event_leisure.view-display-id-block_7 table.views-view-grid.col-2 td {
  padding: 0;
}
/* PRESS RELEASE CSS
***************************************** */
.node-type-press-release .field-field-pr-pull-quote {
  background: #8cc63f;
  color: #fff;
  font-family: Georgia;
  font-size: 18px;
  float: right;
  line-height: 1em;
  margin: 10px 0 10px 10px;
  padding: 10px;
  width: 40%;
}

.not-front .sidebar-first{
margin-top: 10px;
}
img.imagecache-article_image,
a.imagecache-140x140 img,
img.imagecache-140x140{
border: 2px solid #F2F2F3;
}
div.view.article-attachment .views-row{
background: #efefef;
clear: both;
margin: 20px 0;
padding: 10px;
}

div.view.article-attachment .views-field-field-article-image-fid{
float: left;
margin-right: 20px;
margin-bottom: 20px;
}